.textareamodifies {
    border: 1px solid var(--placeholder-color) !important;
    width: 100% !important;
    padding: 10px 10px 10px 20px !important;
}

input[type="text"]::placeholder {
    color: var(--placeholder-color) !important ;
    /* Gray color for placeholder text */
}

input[type="email"]::placeholder {
    color: var(--placeholder-color) !important;
    /* Gray color for placeholder text */
}

textarea::placeholder {
    color: var(--placeholder-color) !important;
    /* Gray color for placeholder text */
}