@media (max-width:500px) {
    .reasonwforpersonalloan {
        margin-top: 190px !important;
    }

    /* .mod_mt{
        margin-top: 0px !important;
    } */

}


/* @media (min-width:501px) and (max-width:900px){
    .mod_mt{
        margin-top: 330px !important;
    }
}

@media (min-width:900px) and (max-width:1200px){
    .mod_mt{
        margin-top: 30px !important;
    }
} */